div {
  /* border-radius: 50%; */
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 20px; */
  /*  */
  /* border-radius: 10px 50% 20px 50%; */

  /* contoh penambahan elemen diluar cotainer */
  overflow: hidden;
  margin: auto;
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  border: 3px solid green;
  border-radius: 1rem 2em 4em 5em / 3em 5em 7em 4em;
}
